* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d7d6d6;
}

.col-container {
  display: flex;
  margin-bottom: 10px;
}

.col {
  border: 1px solid #797979;
  flex-grow: 1;
  width: 100%;
  margin: 1px;
  text-align: center;
}

.card {
  padding-top: 2.5px;
  margin: 5px;
  position: relative;
  border-radius: 5%;
  background-color: #5ece7e;
  box-shadow: 2px 2px 1px rgba(101, 100, 100, 0.379);
}

.card-title {
  color:white;
  flex-grow: 1;
  display: inline;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 20px;
}

.card-text{
  border: 1px solid #e1e1e1;
  background-color: white;
  display: block;
  border-radius: 0 0 5px 5px;
}

.card-button {
  position: absolute ;
  display: block;
  top:5px;
  right:5px;
  color:white;
  background-color: #5ece7e;
  border: 0;
  cursor: pointer;
} 

.addCard-container {
  width: min-content;
  position: absolute;
  left: 30px; 
  padding: 10px;
  background-color:white;
  box-shadow: 1px 1px 1px ;
  border-radius: 5%;
  bottom: 10px;
}

.addCard-form {
  margin: 0 auto;
  text-align: center;
}

.addCard-button {
  background-color: #5ece7e;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 0;
  color: white
}

.tile-container{
  position: relative;
  width:100%;
  font-size:0;
  display: flex;
  background-color: white;
  box-shadow: 1px 2px 2px #797979
}

.tile{
  margin-top: 5px;
  font-size:12px; /* or whatever you want */
  flex-grow: 6;
  width: 15%;
  min-height:22px;
  border-bottom: 1px #BDBDBD solid;
  display: inline-block;
  text-align: center;
}